<html>
	<head>
		<title>Google Map of the restaurant</title>

		<script type="text/javascript"
			src="http://maps.google.com/maps/api/js?sensor=true&key=AIzaSyAZQqRP3hp5x4hvOUhHr307Jl74Va0hbe0"></script>
		<script type="text/javascript">
		
		var loadMap = function(){
			
			var myLatLng = {lat: <%=restaurants.address.coord[0]%>, lng: <%=restaurants.address.coord[1]%>};
			var map = new google.maps.Map(document.getElementById("map"),{
				zoom: 20,
				center: myLatLng
			});
			
			var map = new google.maps.Marker({
			position: myLatLng,
			map: map,
			});
		};
			
		window.onload= loadMap;
		</script>
	</head>
	
	<body>
		<div id="map" style="width:500px;height:500px;"></div>
	</body>
</html>